.option {
    background: none;
    border: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

.option:hover {
  /* background: rgba(255, 172, 172, 0.8); */
  transform: scale(1.1);
}

.option span {
    color: white;
    display: block;
    width: 20px;
}
